<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb493189810500915</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.536538759915-0p8l1orqkpv8uur06o93u2n53cf6tdvl</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>493189810500915</string>
	<key>FacebookClientToken</key>
	<string>ce6ab133c68de018d187407476b1bb1d</string>
	<key>FacebookDisplayName</key>
	<string>family health</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
    	<array>
    		<string>fbapi</string>
    		<string>fb-messenger-share-api</string>
    		<string>fbauth2</string>
    		<string>fbshareextension</string>
    	</array>

	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Mint</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>mint</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>need camera to access your media to upload attachment in your request form</string>
	<key>NSContactsUsageDescription</key>
	<string>Access contact list to getting the number for sending invitations</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>we need the location to able to navigate user to benzol branch</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>we need the location to able to navigate user to benzol branch</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>we need the location to able to navigate user to benzol branch</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>MyApp uses the microphone to make you able to record message for support.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>we need to access your media to upload attachment in your request form</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>we need to access your media to upload attachment in your request form</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
